################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstAPP/.vs/MyFirstAPP
/MyFirstAPP/MyFirstAPP/obj
/MyFirstAPP/MyFirstAPP/wwwroot
/.vs
/MyFirstAPP/MyFirstAPP/bin/Debug/netcoreapp3.1
